:root {
  --bg-color: #0b0121;
  --primary-color: #ececec;
  --primary-color2: #000;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: var(--bg-color);
  font-family: outfit, poppins, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  color: var(--primary-color);
}
/* Global */
.flex {
  display: flex;
  align-items: center;
}
.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section {
  min-height: 100vh;
  padding: 2rem;
}
.btn {
  border-radius: 50px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  will-change: transform;
  transition: all 0.3s ease, box-shadow 0.3s ease;
}
.btn:hover {
  transform: scale(1.05) translateZ(0);
  backface-visibility: hidden;
}
.btn:active {
  transform: scale(1);
}
.btn-filled {
  color: var(--primary-color2);
  background-color: var(--primary-color);
  border: none;
}
.btn-unfilled {
  color: var(--primary-color);
  background: none;
  border: 2px solid var(--primary-color);
}
.btns {
  gap: 2rem;
}
/* Header - Nav */
.hero-container {
  background: url(../images/hero/hero-bg.png) no-repeat;
  background-position: center;
  background-size: cover;
}
header {
  padding: 1rem 5rem;
}
nav {
  justify-content: space-between;
  border: 1px solid #ececec30;
  background-color: #ececec10;
  backdrop-filter: blur(10px);
  padding: 0.5rem 1rem;
  border-radius: 50px;
}
.logo {
  cursor: default;
  gap: 0.5rem;
}
.logo p {
  font-family: poppins;
  color: #fff;
  font-size: 1.3rem;
  font-weight: 600;
  letter-spacing: 1px;
}
.nav-right {
  gap: 2.5rem;
}
.nav-right ul li {
  list-style: none;
}
.nav-right ul li a {
  color: var(--primary-color);
}
.nav-links {
  gap: 3rem;
}
.nav-links li a {
  padding: 0rem 0.2rem;
  border-radius: 7px;
}
.nav-links li a:hover {
  border-bottom: 1px solid #ececec50;
  border-top: 1px solid #ececec50;
}
/* Hamburger menu wrapper */
.hamburger-menu {
  position: relative;
  display: none;
}
/* Hamburger button and bars */
#hamburger-btn {
  cursor: pointer;
  padding: 0.5rem;
  position: relative;
  width: 25px;
  height: 10px;
}
.hamburger-btn-container {
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ececec30;
  border-radius: 7px;
}
#hamburger-btn b {
  display: block;
  position: absolute;
  height: 2px;
  width: 25px;
  background: #ffffff;
  transition: all 0.4s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  left: 0;
  right: 0;
}
#hamburger-btn b:nth-child(1) {
  top: 0;
}
#hamburger-btn b:nth-child(2) {
  top: 50%;
}
#hamburger-btn b:nth-child(3) {
  top: 100%;
}

#hamburger-btn.active b:nth-child(1) {
  top: 50%;
  opacity: 0;
}
#hamburger-btn.active b:nth-child(2) {
  transform: rotate(45deg);
}
#hamburger-btn.active b:nth-child(3) {
  top: 50%;
  transform: rotate(-45deg);
}
/* Hamburger Content */
.hamburger-content {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  border-radius: 8px;
  background: linear-gradient(135deg, #321886 0%, rgba(0, 0, 0, 0.7) 100%);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  transform: translateY(-10px);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  text-align: start;
  padding: 1rem;
}
.hamburger-content.active {
  transform: translateY(12px);
  opacity: 1;
  visibility: visible;
}
.hamburger-content .nav-links {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1rem;
  padding: 0.8rem 2rem 0 0.5rem;
  align-items: baseline;
}
.hamburger-content .nav-links a {
  color: #fff;
  transition: background-color 0.3s ease;
  padding: 0.2rem 0.5rem;
  border-radius: 8px;
}
.hamburger-content .nav-links li {
  list-style: none;
}
.hamburger-content .nav-links a:hover {
  background-color: rgba(0, 0, 0, 0.39);
}
/* Hero section */
.hero {
  gap: 1rem;
  padding-top: 4rem;
}
.hero-top-para {
  border: 1px solid #ececec30;
  padding: 0.5rem 1rem;
  border-radius: 50px;
  flex-wrap: wrap;
  justify-content: center;
}
.hero-top-para a {
  color: var(--primary-color);
}
.hero-top-para a:hover {
  text-decoration: underline;
}
.hero .title {
  text-align: center;
  font-size: 5rem;
  background: -webkit-linear-gradient(300deg, #ececec 0%, #ececec10 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hero-bottom-para {
  text-align: center;
  color: #ececec65;
}
.chart img {
  width: 100%;
  height: 100%;
  object-position: center;
}
.hero-bottom-para2 {
  color: #ececec80;
  padding-top: 2rem;
  padding-bottom: 1rem;
  text-align: center;
}
.logo-showcase {
  align-items: center;
  column-gap: 2rem;
  row-gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}
/* Features section */
#features {
  gap: 2rem;
}
.title {
  text-align: center;
  position: relative;
  z-index: 2;
  padding: 1rem;
}
.title .glow {
  position: absolute;
  background: radial-gradient(
    circle,
    rgba(50, 24, 134, 0.288) 35%,
    rgba(0, 0, 0, 0) 13%
  );
  filter: blur(30px);
  z-index: -1;
  width: 100%;
  height: 100%;
}
.title p:first-child {
  font-size: 3rem;
}
.title p:nth-child(2) {
  color: #ececec80;
  font-size: 0.9rem;
}
.feature-card-container {
  gap: 3rem;
}
.feature-card-container .card1 > img {
  background: #591ddd;
  border-radius: 10px;
  box-shadow: 0 0 36.45px 6px #591ddd75, 0 0 9px 3px #591ddd75;
}
.feature-card-container .card2 > img {
  background: #9525c9;
  border-radius: 10px;
  box-shadow: 0 0 36.45px 6px #9525c975, 0 0 9px 3px #9525c975;
}
.feature-card-container .card3 > img {
  background: #c925ab;
  border-radius: 10px;
  box-shadow: 0 0 36.45px 6px #c925ab75, 0 0 9px 3px #c925ab75;
}
.feature-card {
  max-width: 576px;
  align-items: flex-start;
  gap: 0.5rem;
}
.feature-card h3 {
  font-size: 2rem;
}
.feature-card p {
  font-size: 0.9rem;
  color: #ececec80;
}
.feature-card a {
  color: var(--primary-color);
  text-decoration: underline;
  transition: transform 0.3s ease;
}
.feature-card a:hover {
  color: #af8aff;
}
.small-card-container {
  gap: 1.5rem;
  flex-wrap: wrap;
  justify-content: center;
}
.small-card-container .feature-card {
  padding: 2rem;
}
.small-card-container .feature-card,
.long-card-container,
.long-card-container > img {
  background: linear-gradient(#ffffff05 0%, #ffffff00 100%);
  box-shadow: 0px -2px 10px 0px #e9dfff30, 0px -2px 40px 0px #bb9bff15,
    0px 0.5px 0px 0px #ffffff50;
  border-radius: 20px;
}
.long-card-container {
  padding: 2rem;
  gap: 4rem;
  flex-wrap: wrap;
  justify-content: center;
}
.cta-card {
  box-sizing: content-box;
  gap: 1rem;
  padding: 1rem 5.5rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  max-width: 1000px;
}
.cta-card h3 {
  font-size: 3rem;
}
.cta-card p {
  color: #ececec99;
}
.cta-card button {
  border: 1px solid #ececec;
}
/* Footer */
footer {
  padding: 5rem 0 2rem 0;
  max-width: 1183px;
  margin: 0 auto;
}
footer.flex-column {
  align-items: flex-start;
}
.footer-top {
  gap: 2rem;
  align-items: baseline;
  justify-content: flex-start;
  width: 100%;
}
.footer-column {
  align-items: baseline;
  justify-content: baseline;
  gap: 2rem;
}
.footer-info h3 {
  font-weight: 500;
  color: #fff;
}
.footer-info p {
  font-family: outfit-light;
}
.contact-info {
  gap: 0.2rem;
  line-height: 1.6;
}
.footer-bottom {
  padding: 1rem 0;
  justify-content: space-between;
  width: 100%;
  gap: 1rem;
}
.footer-bottom > p {
  color: #ececec80;
  font-family: outfit-light;
}
.social-links {
  gap: 1rem;
}
.social-links svg {
  cursor: pointer;
  transition: transform 0.3s ease;
}
.social-links svg:hover {
  transform: scale(1.2);
  filter: drop-shadow(0 0 3px #ffffffa4);
}
