*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}
a{
  text-decoration: none;
}
#root,
#__next {
  isolation: isolate;
}
@font-face {
  font-family: "outfit";
  src: url("../fonts/outfit/Outfit-Regular.woff2") format("woff2"),
    url("../fonts/outfit/Outfit-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "outfit-light";
  src: url("../fonts/outfit/Outfit-ExtraLight.woff2") format("woff2"),
    url("../fonts/outfit/Outfit-ExtraLight.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "poppins";
  src: url("../fonts/poppins/poppins-regular-webfont.woff2") format("woff2"),
    url("../fonts/poppins/poppins-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}