@media (max-width: 1234px){
  .long-card-container{
    max-width: 576px;
  }
  .cta-card{
    max-width: 576px;
    padding: 2rem;
    box-sizing: border-box;
  }
  .cta-card h3{
    font-size: 2rem;
  }
  footer.flex-column{
    align-items: center;
  }
  .footer-row {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .footer-column {
   align-items: center;
  }
}
@media (max-width: 1049px) {
  header {
    padding: 2rem;
  }
  .hamburger-menu {
    padding-left: 1.5rem;
  }
}
.btn.offScreen {
  font-size: 0.8rem;
  padding: 0.2rem 0.4rem;
}
.btn-filled.offScreen {
  margin-bottom: 1rem;
}
@media (max-width: 500px) {
  .nav-left {
    flex-grow: 1;
    justify-content: space-between;
  }
  .hamburger-content {
    left: -5rem;
    padding: 0 1rem 1rem 1rem;
  }
}
@media(max-width: 424px){
  .feature-card h3{
    font-size: 1.5rem;
  }
}
@media (max-width: 413px) {
  .hero .btns .btn {
    font-size: 0.8rem;
  }
}
/* Ultra wide monitors */
@media (min-width: 1500px) {
  .hero-container {
    background-position: top;
  }
}
@media (min-width: 1600px) {
  .nav-right {
    flex-grow: 1;
    gap: 0;
  }
  .nav-right .nav-links {
    margin-left: 35%;
  }
}
@media (min-width: 2100px) {
  .nav-right .nav-links {
    margin-left: 37%;
  }
}
@media (min-width: 2500px) {
  .nav-right .nav-links {
    margin-left: 39%;
  }
}
